.reset{
	padding: 10px 0px 18px 10px;
	background-color: #acfa00;
	font-family: 'Corben', Georgia, Times, serif;
	font-size: 40px;
	line-height: 55px;
	background: rgba(184, 246, 0, 0.3);
}

body{
	font-family: 'Nobile', Helvetica, Arial, sans-serif;
	font-size: 13px;
	line-height: 25px;
}

/****************** Line ************/

hr.header{
	margin: 0px 0px 0px 0px;
	height:0; 
	border:none; 
	border-bottom:1px solid rgba(255,255,255,0.2); 
	border-top:1px solid rgba(0,0,0,0.9); 
	clear:both;
}

hr.sep{
	margin-bottom: 30px;
    border: 0;
    height: 1px;
    background: #333;
    background-image: -webkit-linear-gradient(left, #b1e3ff, #3a7cc3); 
    background-image:    -moz-linear-gradient(left, #b1e3ff, #3a7cc3); 
    background-image:     -ms-linear-gradient(left, #b1e3ff, #3a7cc3); 
    background-image:      -o-linear-gradient(left, #b1e3ff, #3a7cc3); 
}

.blocArtist hr.sep:last-child{
	margin-bottom: 45px;
}

/************** ARTIST ****************/
.artist{
	margin: 60px auto 60px auto;
	text-align: center;
	font-size: 75px;
	font-weight: lighter;
}

.artists .selected{
	background-color: #f57422;
	color: #02121a;
	cursor: pointer;
}

/************** ALBUM ******************/
.album{
	/*margin: 20px 0px 0px 0px;*/
	font-size: 22px;
	font-weight:bold;
}

.albums .selected{
	background-color: #00bdf8;
}

/************** Songs ******************/

.song {
	margin: 0px 0px 0px 0px;
}

.songs .selected{
	background-color: #fcd803;
	color: #02121a;
	cursor: pointer;
}

.errorMes{
	padding: 40px 0px 0px 10px;
	font-style: italic;
	display: block;
	vertical-align: middle;
	font-size: 15px;
	height:100px;
}

#player{
	position:absolute; 
	bottom:0;
	padding: 20px 0px 0px 20px;
	height: 12%;
	width: 100%;
	background-color: grey;
	color: white;
	font-family:Georgia,serif; 
	font-size:17px; 
	font-style:italic;
}

#controller{
	width: 20px;
	height: 24px;
}

#prev{
	background-image: url("controller/prev.png");
}

#play{
	background-image: url("controller/play.png");
}

#next{
	background-image: url("controller/next.png");

}