body{
	font-family: 'Nobile', Helvetica, Arial, sans-serif;
	font-size: 13px;
	line-height: 25px;
}


.title{
	padding: 18px 0px 18px 10px;
	background-color: #acfa00;
	font-family: 'Corben', Georgia, Times, serif;
	font-size: 40px;
	line-height: 55px;
	background: rgba(184, 246, 0, 0.3);
}

/****************** Line ************/

hr.header{
	margin: 0px 0px 0px 0px;
	height: 0px; 
	border:none; 
	border-bottom:1px solid rgba(255,255,255,0.2); 
	border-top:1px solid rgba(0,0,0,0.9); 
	clear:both;
}

hr.sep{
	margin-bottom: 30px;
    border: 0;
    height: 1px;
    background: #333;
   	clear:both;
    background-image: -webkit-linear-gradient(left, #b1e3ff, #3a7cc3); 
    background-image:    -moz-linear-gradient(left, #b1e3ff, #3a7cc3); 
    background-image:     -ms-linear-gradient(left, #b1e3ff, #3a7cc3); 
    background-image:      -o-linear-gradient(left, #b1e3ff, #3a7cc3); 
}

.blocArtist hr.sep:last-child{
	height:0px;
}


/************** ARTIST ****************/
.artist{
	margin: 60px auto 60px auto;
	text-align: center;
	font-size: 75px;
	font-weight: lighter;
}

.artists .selected{
	background-color: #f57422;
	color: #02121a;
	cursor: pointer;
}

/************** ALBUM ******************/
.album{
	/*margin: 20px 0px 0px 0px;*/
	font-size: 22px;
	font-weight:bold;
}

.albums .selected{
	background-color: #00bdf8;
}

/************** Songs ******************/

.song {
	margin: 0px 0px 0px 0px;
}

.songs .selected{
	background-color: #fcd803;
	color: #02121a;
	cursor: pointer;
}

.errorMes{
	padding: 40px 0px 0px 10px;
	font-style: italic;
	vertical-align: middle;
	font-size: 15px;
}

/************** Library ***************/
#library{
	height: 700px;/*Size of the window*/
	overflow: auto;
}


/***************** Player ****************/
#player{
/*	height:710px;
*/}

/*Title artists*/
#player ul li:first-child{
	text-align: center;
	padding-top: 20px;
	list-style-type: none;
	position: relative;
	text-decoration: none;
	border: 1px solid #d6cfd9;
	width: 100%;
	height: 50px;
	font-size: 25px;
	background-color: #ebebeb;
}

#artistList{
	position: relative;
	width: 100%;
	height: 600px;
}

.miniArtist{
	text-align: center;
	padding-top: 20px;
	list-style-type: none;
	position: relative;
	text-decoration: none;
	border-bottom: 1px solid #d6cfd9;
	border-left: 1px solid #d6cfd9;
	border-right: 1px solid #d6cfd9;
	width: 100%;
	height: 50px;
	font-size: 25px;
	color: black;
}

.controllers{
	position: fixed;
	bottom:0;
	background-color: black;
	width: 100%;
}


#prev{
	background-image: url("controller/prev.png");
}

#play{
	background-image: url("controller/play.png");
}

#next{
	background-image: url("controller/next.png");

}