.reset{
	padding: 5px 0px 18px 10px;
	background-color: #acfa00;
}

.alpha30 {
	background: rgba(184, 246, 0, 0.3);
}

hr{
	margin: 0px 0px 40px 0px;
	height:0; 
	border:none; 
	border-bottom:1px solid rgba(255,255,255,0.2); 
	border-top:1px solid rgba(0,0,0,0.9); 
	clear:both;
}

.col_header{
	margin: 0px 0px 20px 0px;
}

.song{
	background-color: #fcd803;
	color: #727272;
}

.album{
	background-color: #0084ae;
}

.artist{
	background-color: #f57422;
}

.artists .selected{
	background-color: #f57422;
	color: #02121a;
	cursor: pointer;
}

.albums .selected{
	background-color: #00bdf8;
}

.songs .selected{
	background-color: #fcd803;
	color: #02121a;
	cursor: pointer;
}

p{
	margin:0 0 5px 0;
	font-family:Georgia,serif; 
	font-size:17px; 
	font-style:italic;
	cursor: pointer;
}

#player{
	position:absolute; 
	bottom:0;
	padding: 20px 0px 0px 20px;
	height: 20%;
	width: 100%;
	background-color: grey;
	color: white;
	font-family:Georgia,serif; 
	font-size:17px; 
	font-style:italic;
}